:root {
    --primary-colour: jet#000000;
    --secondary-colour: #ff3e96;
    --accent-colour: #c1f861;
    --metallic: #D4AF37;
    --neutral-colour: #e0e0e0;
    --font-weight: bold;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    background-color: var(--primary-colour);
}

header {
    color: ;

}

.banner {
    display: inline-flex
    color: ;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: var(--primary-colour) ;
    padding: 20px;
    margin: ;
}

.navbar a:hover {
    color: var(--secondary-colour)
}

.content {
    color: ;
}

.products {
    display: flex;
}


.product {
    display: flex;
    
   /*how to make images shrink down*/
}
.box {
    display: flex
    background-color: ;
    color: var();
    text-align: center;

}

.about {

}

.team-section {

}

.team-list {

}

.highlight-box

footer {
    display: flex;
}